{% extends "BodegaInventarioApp/base.html" %}

{% load static %}

{% block content %}

    <!-- Section -->
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'BodegaInventarioApp/img/principal.jpg' %}" alt="Bodega COPECO">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Gestión Eficiente</span>
                        <span class="section-heading-lower">Control de Inventario</span>
                    </h2>
                    <p class="mb-3">Optimización de los recursos y productos con un sistema eficiente para la gestión de inventarios en COPECO.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
