<!-- <html>  
<head>
    <title>Inventario</title>
</head>
<body>
    <h1>Inventario</h1>
    <p>Esta es la página de inventario de la aplicación de Bodega Inventario.</p>
</body>
</html>
-->    

{% extends "BodegaInventarioApp/base.html" %}

{% load static %}

{% block content %}

    {% for inventario in inventario %}

    <!-- Section -->
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro d-flex">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'BodegaInventarioApp/img/principal.jpg' %}" alt="" style="width: 50%; margin-right: 320px;">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="margin-left: +620px;">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-lower">{{inventario.nombre}}</span>
                        <span class="section-heading-upper">{{inventario.descripcion}}</span>
                    </h2>
                </div>
            </div>
        </div>
    </section>

<!--<div>
    <p>
    <h2 style="color: white;">{{inventario.nombre}}</h2>

    <p style="color: white;">{{inventario.descripcion}}</p>
    </p>
</div>
-->
    {% endfor %}

{% endblock %}