<!-- <html>  
<head>
    <title>Inventario</title>
</head>
<body>
    <h1>Inventario</h1>
    <p>Esta es la página de inventario de la aplicación de Bodega Inventario.</p>
</body>
</html>
-->    
{% extends "BodegaInventarioApp/base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-white">Inventario</h2>
    <table class="table table-bordered table-striped bg-dark text-white">
        <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Precio (L)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventario %}
            <tr>
                <td>{{ item.id_codigoinv }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.marca }}</td>
                <td>{{ item.modelo }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.fecha }}</td>
                <td>L {{ item.precio }}</td> <!-- Formato de precio en lempiras -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
